Package: baggins
Version: 2.2-2
Architecture: all
Depends: python3, python3-gi, gir1.2-webkit-6.0, gir1.2-gtk-4.0, gir1.2-adw-1
Maintainer: Zalán Hári <harizalan12@gmail.com>
Description: A minimalistic browser written using GTK and WebKit
